/*-----background-----*/

/*-----text-----*/

h5 {
  color: black;
  margin-top: 5px;
}

th {
  color: black;
  padding-top: 10px;
  padding-bottom: 5px;
}

h4 {
  color: black;
}

h2 {
  background: black;
  color: white;
  margin: 10px 0px;
}

.sheet-center {
  text-align: center
}

.sheet-left {
  text-align: left
}

.sheet-right {
  text-align: right
}

/*-----textarea-----*/

textarea {
  height: 50px;
}

/*-----
input[type="text"] {
  background:none;
  border:none:
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
box-shadow: none;
}
-----*/
/*-----tabs-----*/

input.sheet-tab1:not(:checked)~.sheet-tab1,
input.sheet-tab2:not(:checked)~.sheet-tab2,
input.sheet-tab3:not(:checked)~.sheet-tab3,
input.sheet-tab4:not(:checked)~.sheet-tab4,
input.sheet-tab4:not(:checked)~.sheet-tab4,
input.sheet-tab5:not(:checked)~.sheet-tab5 {
  display: none;
}

input.sheet-tab {
  width: calc(20% - 4px);
  max-width: 150px;
  height: 20px;

  outline: none !important;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

input.sheet-tab1 {
  margin-left: 1px;
}

input.sheet-tab::before {
  content: attr(title);
  display: inline-block;

  background: #fff;
  border: solid 1px #a8a8a8;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  font-size: 14px;
  text-align: center;

  width: 100%;
  height: 20px;
}

input.sheet-tab:checked::before {
  border-bottom-color: white;
  text-shadow: 0px 0px 10px black;
    font-weight: bold;
}

.sheet-tab-br {
  border-bottom: 1px solid #a8a8a8;
  margin-bottom: 5px;
    margin-top: 6px;
}

input.sheet-arrow {
  float: left;
}

div.sheet-body {
  display: none;
}

/*-----radio boxes-----*/

/* -----Hide actual radio----- */
input.sheet-normal[type="radio"] {
  opacity: 0;
  width: 16px;
  height: 16px;
  position: relative;
  top: 5px;
  left: 6px;
  margin: -10px;
  cursor: pointer;
  z-index: 1;
}

/* -----Fake radio----- */
input.sheet-normal[type="radio"]+span::before {
  margin-right: 2px;
  border: solid 1px #a8a8a8;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;

  -moz-box-shadow: 0 0 2px #ccc;
  -webkit-box-shadow: 0 0 2px #ccc;
  box-shadow: 0 0 2px #ccc;

  background: #f6f6f6;
  background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
  background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
  background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
  background: -o-radial-gradient(#f6f6f6, #dfdfdf);
  background: radial-gradient(#f6f6f6, #dfdfdf);

  color: black;
  content: "•";
  width: 12px;
  height: 12px;
  font-size: 3em;

  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* -----Remove dot from all radios _after_ selected one----- */
input.sheet-normal[type="radio"]:checked~input.sheet-normal[type="radio"]+span::before {
  content: "";
}
input.sheet-blackdot:checked+input.sheet-whitedot {
  z-index: 3;
}

.sheet-grid {
  margin-left: auto;
  margin-right: auto;
}

.sheet-dots,
.sheet-healthboxes,
.sheet-checkboxes {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Used for wound penalty alignment */
.sheet-healthbox {
  width: 12px;
  font-size: 10px;
}

.sheet-healthbox>input[value="1"]~button.sheet-damage {
  background:
    linear-gradient(to top left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(50% - 0.8px),
      currentColor 50%,
      rgba(0, 0, 0, 0) calc(50% + 0.8px),
      rgba(0, 0, 0, 0) 100%),
    #efefef;
}

.sheet-healthbox>input[value="2"]~button.sheet-damage,
.sheet-checkbox>input[value="1"]+button,
.sheet-checkbox>input[value="on"]+button {
  background:
    linear-gradient(to top left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(50% - 0.8px),
      currentColor 50%,
      rgba(0, 0, 0, 0) calc(50% + 0.8px),
      rgba(0, 0, 0, 0) 100%),
    linear-gradient(to top right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(50% - 0.8px),
      currentColor 50%,
      rgba(0, 0, 0, 0) calc(50% + 0.8px),
      rgba(0, 0, 0, 0) 100%),
    #efefef;
}

.sheet-healthbox>input[value="3"]~button.sheet-damage {
  background:
    linear-gradient(to top left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(50% - 0.8px),
      currentColor 50%,
      rgba(0, 0, 0, 0) calc(50% + 0.8px),
      rgba(0, 0, 0, 0) 100%),
    linear-gradient(to top right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(50% - 0.8px),
      currentColor 50%,
      rgba(0, 0, 0, 0) calc(50% + 0.8px),
      rgba(0, 0, 0, 0) 100%),
    linear-gradient(to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(50% - 0.8px),
      currentColor 50%,
      rgba(0, 0, 0, 0) calc(50% + 0.8px),
      rgba(0, 0, 0, 0) 100%),
    #efefef;
}

input.sheet-if[value="0"]~.sheet-ne-0,
input.sheet-if[value="1"]~.sheet-ne-1,
input.sheet-if:not([value="1"])~.sheet-eq-1,
input.sheet-if[value="2"]~.sheet-ne-2,
input.sheet-if[value="3"]~.sheet-ne-3,
input.sheet-if[value="4"]~.sheet-ne-4,
input.sheet-if[value="5"]~.sheet-ne-5,
input.sheet-if[value="6"]~.sheet-ne-6,
input.sheet-if[value="7"]~.sheet-ne-7,
input.sheet-if[value="8"]~.sheet-ne-8,
input.sheet-if[value="9"]~.sheet-ne-9,
input.sheet-if[value="10"]~.sheet-ne-10,
input.sheet-if[value="11"]~.sheet-ne-11,
input.sheet-if[value="12"]~.sheet-ne-12,
input.sheet-if[value="13"]~.sheet-ne-13,
input.sheet-if[value="14"]~.sheet-ne-14,
input.sheet-if[value="15"]~.sheet-ne-15,
input.sheet-if[value="16"]~.sheet-ne-16 {
  display: none;
}
/*--------------Big Checkbox--------------*/

/* ----Hide actual sheet-arrow checkbox---- */
input.sheet-bigcheck[type="checkbox"] {
  opacity: 0;
  width: 16px;
  height: 16px;
  position: relative;
  top: 5px;
  left: 6px;
  margin: -10px;
  cursor: pointer;
  z-index: 1;
}

/* ----Fake sheet-arrow checkbox---- */
input.sheet-bigcheck[type="checkbox"]+span::before {
  margin-right: 4px;
  border: solid 1px #a8a8a8;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;

  -moz-box-shadow: 0 0 2px #ccc;
  -webkit-box-shadow: 0 0 2px #ccc;
  box-shadow: 0 0 2px #ccc;

  background: #f6f6f6;
  background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
  background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
  background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
  background: -o-radial-gradient(#f6f6f6, #dfdfdf);
  background: radial-gradient(#f6f6f6, #dfdfdf);
}

input.sheet-bigcheck[type="checkbox"]+span::before {
  content: "";
  width: 14px;
  height: 14px;
  font-size: 12px;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

input.sheet-bigcheck[type="checkbox"]:checked+span::before {
  color: red;
  content: "✓";
}

/*--------------Round checkbox--------------*/

/* ----Hide actual roundcheck checkbox---- */
input.sheet-roundcheck[type="checkbox"] {
  opacity: 0;
  width: 16px;
  height: 16px;
  position: relative;
  top: 5px;
  left: 6px;
  margin: -10px;
  cursor: pointer;
  z-index: 1;
}

/* ----Fake roundcheck checkbox---- */
input.sheet-roundcheck[type="checkbox"]+span::before {
  margin-right: 4px;
  border: solid 1px #a8a8a8;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  border-radius: 20px 20px 20px 20px;

  -moz-box-shadow: 0 0 20px #ccc;
  -webkit-box-shadow: 0 0 20px #ccc;
  box-shadow: 0 0 20px #ccc;

  background: #f6f6f6;
  background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
  background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
  background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
  background: -o-radial-gradient(#f6f6f6, #dfdfdf);
  background: radial-gradient(#f6f6f6, #dfdfdf);

  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
}

input.sheet-roundcheck[type="checkbox"]+span::before {
  content: "";
  width: 14px;
  height: 14px;
  font-size: 12px;

  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

input.sheet-roundcheck[type="checkbox"]:checked+span::before {
  color: blue;
  font-size: 3em;
  content: "•";
}

/*-------Tables--------*/
table.sheet-devotions {
  border: 1px solid black;
  background: #1C1C1C;
}

table.sheet-weapon,
th.sheet-weapon,
td.sheet-weapon {
  border: 1px solid black;
  background: white;
}

th.sheet-armor,
td.sheet-armor {
  border: 0px solid black;
  background: none;
}

/*-----sheet-arrow-----*/
input.sheet-arrow {
  float: left;
}

div.sheet-body {
  display: none;
}

input.sheet-arrow:checked~div.sheet-body {
  display: block;
}

/* ----Hide actual sheet-arrow checkbox---- */

input.sheet-arrow[type="checkbox"] {
  opacity: 0;
  width: 16px;
  height: 16px;
  position: relative;
  top: 5px;
  left: 6px;
  margin: -10px;
  cursor: pointer;
  z-index: 1;
}

/*-------sheet select---------*/

.sheet-select {
  margin-bottom: 0
}

button.sheet-dot,
.sheet-checkboxes button,
.sheet-checkbox>input[type="hidden"]+button,
.sheet-healthbox>button,
input.sheet-flag+button.sheet-radio {
  width: 10px;
  height: 10px;
  padding: 0;
  border: solid 1px #000000;
  line-height: 11px;
  background: #efefef;
}
button.sheet-toggle {
  /* Resetting user-agent styling */
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  border-style: none;

  padding: 0 4px;
  background: white;
  border-radius: 4px;
  font-weight: bold;
}

input.sheet-flag[value="1"]~.sheet-toggle {
  text-shadow: 0px 0px 10px black;
  font-weight: bold;
}
.sheet-healthbox>input[value="2"]~button.sheet-damage,
.sheet-checkbox>input[value="1"]+button,
.sheet-checkbox>input[value="on"]+button,
input.sheet-checked-if[value="0"]~.sheet-checkbox.sheet-ge-0>button,
input.sheet-checked-if[value="1"]~.sheet-checkbox.sheet-ge-1>button,
input.sheet-checked-if[value="2"]~.sheet-checkbox.sheet-ge-2>button,
input.sheet-checked-if[value="3"]~.sheet-checkbox.sheet-ge-3>button,
input.sheet-checked-if[value="4"]~.sheet-checkbox.sheet-ge-4>button,
input.sheet-checked-if[value="5"]~.sheet-checkbox.sheet-ge-5>button,
input.sheet-checked-if[value="6"]~.sheet-checkbox.sheet-ge-6>button,
input.sheet-checked-if[value="7"]~.sheet-checkbox.sheet-ge-7>button,
input.sheet-checked-if[value="8"]~.sheet-checkbox.sheet-ge-8>button,
input.sheet-checked-if[value="9"]~.sheet-checkbox.sheet-ge-9>button,
input.sheet-checked-if[value="10"]~.sheet-checkbox.sheet-ge-10>button,
input.sheet-checked-if[value="11"]~.sheet-checkbox.sheet-ge-11>button,
input.sheet-checked-if[value="12"]~.sheet-checkbox.sheet-ge-12>button,
input.sheet-checked-if[value="13"]~.sheet-checkbox.sheet-ge-13>button,
input.sheet-checked-if[value="14"]~.sheet-checkbox.sheet-ge-14>button,
input.sheet-checked-if[value="15"]~.sheet-checkbox.sheet-ge-15>button,
input.sheet-checked-if[value="16"]~.sheet-checkbox.sheet-ge-16>button {
  background:
    linear-gradient(to top left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(50% - 0.8px),
      currentColor 50%,
      rgba(0, 0, 0, 0) calc(50% + 0.8px),
      rgba(0, 0, 0, 0) 100%),
    linear-gradient(to top right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(50% - 0.8px),
      currentColor 50%,
      rgba(0, 0, 0, 0) calc(50% + 0.8px),
      rgba(0, 0, 0, 0) 100%),
    #efefef;
}